body, div.tooltip {
	background-color: lightblue;
}
h1 {
	text-align: center;
	color: darkblue;
	font-family: sans-serif;
}
#mainContainer {
	text-align: center;
}

/* SVG */
#svgchart {
	background-color: white;
}

.links {
	stroke: red;
}

.node {
	fill: transparent;
	stroke: black;
	stroke-width: 1px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 140px;
  min-height: 70px;
  padding: 2px;
  font: 16px sans-serif;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none; /* keep the mouseover when over the tooltip */
}

#footer {
  color: black;
  text-align: center;
}
#footer a{
	color: blue;
}
